#success-page.page.loading
  section.content

    #left
      #home
        img(src='/static/images/bitso-logo.svg')
        h1 Great! You’ve connected Bitso and Slack.
        h3 You can now try your first slash command in Slack.
        p
          a#add-to-slack(href='slack://open' alt='Open Slack' title='Open Slack', onClick="ga('send', 'event', 'External link', 'click', 'Open Slack');")
            img(src='/static/images/slack.svg' alt='Open Slack' title='Open Slack')
            span Open Slack

    #right
      ul.list
        li.item
          .square
            img.item-image(src='/static/images/ethereum-icon.svg' alt='Ethereum' title='Ethereum')
            span.item-name Ethereum (ETH)
            span.item-value $ {{ .Coins.eth_mxn }} MXN
          a.square(
            href='https://edgardorl.com'
            title='https://edgardorl.com'
            alt='https://edgardorl.com'
            onClick="ga('send', 'event', 'External link', 'click', 'Developers portfolio');"
          )
            img.item-image(src='/static/images/soldiercorp-icon.svg' alt='Edgardo Ramírez León' title='Edgardo Ramírez León')
            span.item-name Developer's portfolio
            span.item-value https://edgardorl.com
        li.item.middle
          .square
            img.item-image(src='/static/images/bitcoin-icon.svg' alt='Bitcoin' title='Bitcoin')
            span.item-name Bitcoin (BTC)
            span.item-value $ {{ .Coins.btc_mxn }} MXN
          a.square(
            href='https://bitso.com/?ref=nlij'
            title='You can use my referral code'
            alt='You can use my referral code'
            onClick="ga('send', 'event', 'External link', 'click', 'Bitso start trading');"
          )
            img.item-image(src='/static/images/bitso-icon.svg' alt='Bitso' title='Bitso')
            span.item-name START TRADING!
            span.item-value https://bitso.com
        li.item
          .square
            img.item-image(src='/static/images/xrp-icon.svg' alt='Ripple' title='Ripple')
            span.item-name Ripple (XRP)
            span.item-value $ {{ .Coins.xrp_mxn }} MXN
          .square
            img.item-image(src='/static/images/litecoin-icon.svg' alt='Litecoin' title='Litecoin')
            span.item-name Litecoin (LTC)
            span.item-value $ {{ .Coins.ltc_mxn }} MXN


